<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>JSP_Example_01</servlet-name>
        <jsp-file>/jstl_example_01.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_01</servlet-name>
        <url-pattern>/example_01</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>JSP_Example_02</servlet-name>
        <jsp-file>/jstl_example_02.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>JSP_Example_02</servlet-name>
        <url-pattern>/example_02</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP_Example_03</servlet-name>
        <jsp-file>/jstl_example_03.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_03</servlet-name>
        <url-pattern>/example_03</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP_Example_04</servlet-name>
        <jsp-file>/jstl_example_04.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_04</servlet-name>
        <url-pattern>/example_04</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP_Example_05</servlet-name>
        <jsp-file>/jstl_example_05.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_05</servlet-name>
        <url-pattern>/example_05</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP_Example_06</servlet-name>
        <jsp-file>/jstl_example_06.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_06</servlet-name>
        <url-pattern>/example_06</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP_Example_07</servlet-name>
        <jsp-file>/jstl_example_07.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_07</servlet-name>
        <url-pattern>/example_07</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP_Example_08</servlet-name>
        <jsp-file>/jstl_example_08.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_08</servlet-name>
        <url-pattern>/example_08</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP_Example_09</servlet-name>
        <jsp-file>/jstl_example_09.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_09</servlet-name>
        <url-pattern>/example_09</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP_Example_10</servlet-name>
        <jsp-file>/jstl_example_10.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP_Example_10</servlet-name>
        <url-pattern>/example_10</url-pattern>
    </servlet-mapping>
</web-app>